/* 定义页面和刺激的flexbox属性 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
#jspsych-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

/* 欢迎界面 */
/* #welcome {
    color : black;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size:  20px;
    height: 600px;
} */

/* 问卷1界面 */
#jspsych-survey-text-preamble {
    color : black;
    background-color: white;
    font-size:  30px;
    font-weight: bold;
    height: 50px;
}
.jspsych-survey-text{
    text-align: left;
    margin: 5px;
}
#input-0{
    font-family: Arial, Helvetica, sans-serif;
    font-size:  15px;
}
#input-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:  15px;
}
#input-2{
    font-family: Arial, Helvetica, sans-serif;
    font-size:  15px;
}
 
/* 选择1界面 */
#jspsych-survey-multi-choice-preamble{
    color : black;
    background-color: white;
    font-size:  30px;
    font-weight: bold;
    height: 50px;
}
p.jspsych-survey-multi-choice-text.survey-multi-choice{
    text-align: left;
    white-space: wrap;
}
.jspsych-survey-multi-choice-option{
    display: flex;
    flex-wrap: wrap;
}

/* 说明1界面 */
#illustrate{
    color : black;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size:  20px;
    height: 600px;
}

/* 问卷2界面 */
#Post_test_premble {
    color : black;
    background-color: white;
    font-size:  20px;
    font-weight: bold;
    height: 50px;
}
#input-3{
    font-family: Arial, Helvetica, sans-serif;
    font-size:  15px;
}

/* 选择2界面 */
#Post_test2_preamble{
    color : black;
    background-color: white;
    font-size:  20px;
    font-weight: bold;
    height: 50px;
    position: relative;
    bottom: 100px;
}

